.FTrigger{
	opacity: 0;
}
.fade{
	animation-name:flipLeftTopAnime;
	animation-duration:0.9s;
	animation-fill-mode:forwards;
	opacity:0;
}
@keyframes flipLeftTopAnime{
	from {
		transform: translate(-20px,40px) rotate(-10deg);
		opacity: 0;
	}
	to {
		transform: translate(0,0) rotate(0deg);
		opacity: 1;
	}
}