/* 【共通】 */
header{
	top: 0;  
	left: 0;  
	width: 100%;
	height: 70px;  
}
nav{
	position:relative;
}
#logo{
	position:absolute;
	display:block;
}
img.logo{
	z-index: 6;
}
/* progress */
.progress {
	background: none;
	color: #594843;
	height: 0%;
	position: fixed;
	width: 100%;
	z-index: 101;
}
.progress_bar {
	position: absolute;
	top: 0%;
	width: 0%;
	z-index: 102;
}
.progress_text {
	z-index: 102;
	font-size: 1em;
}
.progress_complete .progress_bar {
	border-bottom-color: #00AFEC;
	border-top-color: #00AFEC;
}

/* 【PC (ウインドウサイズ)】 */
@media screen and (min-width:1025px) {
}

/* 【タブレット・スマホ (ウインドウサイズ)】 */
@media screen and (max-width:1024px) {
}

/* 【PC (デバイスサイズ)】 */
@media screen and (min-device-width:1025px) {
	header{
		margin:0;
		padding:10px 20px 10px;
		position: fixed !important;   
		background-color: #ffffff;  
		color: #000000;
		border-bottom:1px #594843 solid;
		z-index: 5;
		overflow: visible;
	}
	nav{
		top:0px;
	}
	#logo{
		float:left;
		padding: 0;
		margin:-5px 0 0;
	}
	img.logo{
		width: 195px;
	}
	/* dropmenu */
	.dropmenu{
		list-style-type: none;
		position:relative;
		top:0px;
		left:0px;
		float: right;
		width: 60%;
		margin: 0 40px 0 0;
		padding: 0;
	}
	.dropmenu:before, .dropmenu:after{
		content: "";
		display: table;
	}
	.dropmenu:after{
		clear: both;
	}
	.dropmenu li{
		position: relative;
		width: 25%;
		float: left;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.dropmenu > li{
		margin: -10px 0 0;
	}
	.dropmenu li.for_sp{
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		display: none;
	}
	.dropmenu li > a{
		display: block;
		margin: 0px 0 0;
		padding: 58px 0 16px;
		background: none;
		color: #594843;
		font-size: 100%;
		line-height: 1;
		font-weight:800;
		text-decoration: none;
		border-bottom:1px #594843 solid;
		box-sizing:border-box;
	}
	.dropmenu li > a:before {
		content: '';
		position: absolute;
		top:0;
		left: 0;
		z-index: -1;
		background: #dddddd;
		width: 100%;
		height: 0;
		transition:0.2s ease-out;
	}
	.dropmenu li > a:hover:before, .dropmenu li:hover > a:before{
		height: 91px;
	}
	.dropmenu li > a:hover, .dropmenu li:hover > a {
		border-bottom:4px #594843 solid;
		padding: 58px 0 13px;
	}
	.dropmenu li ul{
		list-style: none;
		position: relative;
		z-index: 1999;
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;
	}
	.dropmenu li ul li{
		width: 100%;
		overflow: hidden;
		height: 0;
		transition: 0.2s ease-out;
		border: none;
	}
	.dropmenu li ul li.for_sp {
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		display: none;
	}
	.dropmenu li:hover ul li{
		overflow: visible;
		height: 46px;
	}
	.dropmenu li ul li > a {
		margin: 0px 0 0;
		padding: 15px 0px;
		background: #f8f8f8;
		border-bottom:none;
		transition: 0.2s ease-out;
	}
	.dropmenu li ul li > a:hover{
		background: #dddddd;
		border-bottom:none;
		padding: 15px 0px;
	}
	.dropmenu li ul li > a:hover:before{
		height: 0px;
	}
	/* progress */
	.progress {
		top: 90px;
	}
	.progress_bar {
		border-bottom: 3px solid #0067EC;
		border-top:none;
	}
	.progress_text {
		float: right;
	}
}

/* 【タブレット・スマホ (デバイスサイズ)】 */
@media screen and (max-device-width:1024px), screen and (min-device-width:1025px) and (max-width:599px) {
	header{
		margin:-20px 0 0px;
		padding:30px 0px 10px;
		background-color: transparent;  
		color: #000;
		border-bottom:none;
		overflow: visible;
		z-index: 900;
		position:absolute !important;
		display:block;
	}
	#logo{
		display: none;
	}
	/* dropmenu */
	.dropmenu{
		display:none;
	}
	/* progress */
	.progress {
		top: 0px;
	}
	.progress_bar {
		border-top: 3px solid #0067EC;
		border-bottom:none;
	}
	.progress_text {
		position: absolute;
		top: 82.5px;
		left: 1%;
	}
}