/* 【共通】 */
#lightgallery{
	background:none;
	margin:0;
	padding:1vw 0;
	text-align:left;
	width:100%;
}
#lightgallery li{
	background:none;
	display:inline-block;
	margin:0.75vw 0.5vw 20vw;
	padding:0;
}
#lightgallery li figure{
	cursor: pointer;
	width:100%;
	position: relative;
	overflow: visible;
	margin:0;
	padding:0;
}
#lightgallery li img{
	width:100%;
	height:auto;
	vertical-align: bottom;
}
span.linkhover {
	z-index: 2;
	position: absolute;
	display: inline;
	top: 115%;
	left: 0%;
	opacity: 1;
	width: 100%;
	height: 50%;
	background: rgba(0,0,0,0.6);
	-webkit-transition: 0.75s;
	transition: 0.75s;
	border-top-left-radius: 10% 20%;
	border-top-right-radius: 10% 20%;
	border-bottom-right-radius: 10% 20%;
	border-bottom-left-radius: 10% 20%;
}
span.linkhover:after{
	border-bottom: 12px solid rgba(0,0,0,0.6);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: -12px;
	left : 42.5%;
	content: "";
	position: absolute;
}
span.linkhover:hover{
	cursor: auto;
}
span.linkhover p.figimg{
	line-height: 1.5em;
	padding:0;
	margin: auto 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
span.linkhover p.figimg span{
	background: none;
	padding:0;
	margin:0px 0;
	color:#ffffff;
}
p.desc {
	color: #ccc;
	margin:0;
	padding:0;
}

/* 【PC (ウインドウサイズ)】 */
@media screen and (min-width:1025px) {
	/* 画像ギャラリー */
	#lightgallery li{
		width:12.5%;
	}
	span.linkhover p.figimg{
		font-size:1.25vw;
	}
	span.linkhover p.figimg span{
		font-size: 1.25vw;
	}
}

/* 【タブレット (ウインドウサイズ)】 */
@media screen and (min-width:600px) and (max-width:1024px) {
	/* 画像ギャラリー */
	#lightgallery li{
		width:17.5%;
	}
	span.linkhover p.figimg{
		font-size:1.25vw;
	}
	span.linkhover p.figimg span{
		font-size: 2vw;
	}
}

/* 【スマホ (ウインドウサイズ)】 */
@media screen and (max-width:599px) {
	/* 画像ギャラリー */
	#lightgallery li{
		width:31%;
	}
	span.linkhover p.figimg{
		font-size:3.5vw;
	}
	span.linkhover p.figimg span{
		font-size: 1em;
	}
}

/* 【PC (デバイスサイズ)】 */
@media screen and (min-device-width:1025px) {
	#lightgallery{
		margin:0 0 0 30px;
	}
	#lightgallery li{
		margin:0.75vw 2vw;
	}
	figure:hover span.linkhover {
		top: 115%;
	}
	span.linkhover {
		top: 50%;
		-webkit-transition: 0.75s;
		transition: 0.75s;
		opacity: 0;
		border-top-left-radius: 10% 20%;
		border-top-right-radius: 10% 20%;
		border-bottom-right-radius: 10% 20%;
		border-bottom-left-radius: 10% 20%;
	}
	figure:hover span.linkhover {
		top: 115%;
		opacity: 1;
	}
}

/* 【タブレット (デバイスサイズ)】 */
@media screen and (min-device-width:600px) and (max-device-width:1024px) {
}

/* 【スマホ (デバイスサイズ)】 */
@media screen and (max-device-width:599px) {
}