footer {
	position: fixed;
    bottom: 0;
	background:#bFb7b4;
	text-align:center;
	margin:150px 0 0;
	padding:0px 0px;
	width:100%;
	z-index: 1000;
}
footer p{
	clear:both;
	font-family:'M PLUS Rounded 1c',"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	font-weight:400;
}
