/* 画像ギャラリー */
#lightgallery{
	background:none;
	margin:0;
	padding:1vw 0;
	text-align:left;
	width:100%;
}
#lightgallery li{
	background:none;
	display:inline-block;
	margin:0.75vw 0.5vw;
	padding:0;
	width:18%;
}
#lightgallery li.category1 figure{
	border:4px #0067EC solid;
}
#lightgallery li.category2 figure{
	border:4px #00ADA9 solid;
}
#lightgallery li.category3 figure{
	border:4px #E85298 solid;
}
#lightgallery li figure{
	cursor: pointer;
	width:calc(100%-8px);
	position: relative;
	overflow: hidden;
	margin:0;
	padding:0;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
}
#lightgallery li img{
	width:100%;
	height:auto;
	vertical-align: bottom;
}
figcaption {
	position: absolute;
	top: 0%;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-transition: 0.2s;
	transition: 0.2s;
	opacity: 0;
}
figure:hover figcaption {
	top: 0;
	left: 0;
	opacity: 1;
}
figcaption p.figimg{
	font-size:45px;
	padding:0;
	margin: auto 0;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
figure:hover figcaption p.figimg{
	top: 50%;
}
figcaption p.figimg span{
	background: none;
	padding:0;
	margin:0px 0;
	color:#ffffff;
}
p.desc {
	color: #ccc;
	margin:0;
	padding:0;
}
/* 絞り込み */
.sort-btn {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	padding:0px 0px;
}
.sort-btn li {
	border-radius:10px;
	cursor: pointer;
	padding: 10px;
	margin:0 10px;
	list-style: none;
	font-size: 24px;
	font-weight: 500;
}
.sort-btn li.category0 {
	background: #C7B9B5;
}
.sort-btn li.category0:hover {
	background: #8F7C77;
}
.sort-btn li.category0.R_active {
	background:#594843 !important;  
	color: #ffffff !important;
}
.sort-btn li.category1 {
	background: #A4C8F8;
}
.sort-btn li.category1:hover {
	background: #4F96F2;
}
.sort-btn li.category1.R_active {
	background:#0067EC !important;
	color: #ffffff !important;
}
.sort-btn li.category2 {
	background: #96E3E0;
}
.sort-btn li.category2:hover {
	background: #41C8C4;
}
.sort-btn li.category2.R_active {
	background:#00ADA9 !important;
	color: #ffffff !important;
}
.sort-btn li.category3 {
	background: #F6C0D9;
}
.sort-btn li.category3:hover {
	background: #EF87B7;
}
.sort-btn li.category3.R_active {
	background:#E85298 !important;
	color: #ffffff !important;
}
#lightgallery li.I_inactive{
	display: none;
}
#lightgallery li.I_active{
	display: inline-block;
}