/* 【共通】 */
#tabs ul{
	list-style-type:none;
	display:block;
	position:relative;
	float:left;
	padding:0;
	z-index:2;
}
#tabs-1,#tabs-2 {
	top:0 !important;
}
#tabs li {
	margin: 0.5vw 0 0;
	padding:0;
	text-align:center;
	/* overflow:hidden; */
}
#tabs li a {
	display:inline-block;
	overflow:hidden;
	vertical-align: middle;
	margin:0;
	padding: 0.5em 0;
	text-decoration: none;
	color:#333333;
	background:rgba(234, 207, 199, 0.5);
	border: #000000 2px solid;
	border-radius: 1vw;
	-webkit-border-radius: 1vw;
	-moz-border-radius: 1vw;
	transition: background 0.3s;
}
#tabs li a:hover{
	background:rgba(234, 207, 199, 1);
}
#tabs_container {
	margin:0;
	padding:0;
	position: relative;
	background:none;
	border-radius: 1vw;
	-webkit-border-radius: 1vw;
	-moz-border-radius: 1vw;
	float:right;
	height:300px;
}
#tabs_container div img.personbg{
	position:relative;
	height:auto;
	padding:0;
	opacity:1;
	z-index:0;
}
.hideleft {
	transform: rotateY(-180deg);
	opacity: 0;
}
.showleft {
	transform: rotateY(0deg);
	opacity: 1;
}
#tabs {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto 0;
	padding:0;
	overflow:hidden;
	position:relative;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
.tabulous_active {
	background:#594843 !important;
	color: #ffffff !important;
}
.tabulous_active img{
	margin:-4vw 0 0 0;
}
.tabulousclear {
	display: block;
	clear: both;
}
.transition {
	transition: all 0.5s ease-out;

}
.make_transist {
	transition: all 0.5s ease-out;
}

/* 【PC・タブレット (ウインドウサイズ)】 */
@media screen and (min-width:600px) {
	#tabs ul{
		margin:0;
		overflow:visible;
		width: 25%;
	}
	#tabs-1,#tabs-2 {
		width: 100%;
		text-align: center;
	}
	#tabs li {
		font-size:min(2vw,30px);
		display:block;
		width: 100%;
	}
	#tabs li a {
		width: 98%;
		transition: background 0.3s;
	}
	#tabs li a:hover{
		transition: background 0.3s;
	}
	#tabs_container {
		width:70%;
	}
	#tabs_container div img.personbg{
		max-height: 75vh;
		max-width: 100%;
		margin:0 auto;
	}
}

/* 【スマホ (ウインドウサイズ)】 */
@media screen and (max-width:599px) {
	#tabs ul{
		margin:0 auto;
		overflow:hidden;
		width: 100%;
	}
	#tabs li {
		font-size:4vw;
		display:inline-block;
		width: 49%;
	}
	#tabs li a {
		width: 97%;
	}
	#tabs_container {
		width:100%;
	}
	#tabs_container div img.personbg{
		width:100%;
		max-height:100%;
		margin:0px;
	}
}

/* 【PC・タブレット (デバイスサイズ)】 */
@media screen and (min-device-width:600px) {
}

/* 【スマホ (デバイスサイズ)】 */
@media screen and (max-device-width:599px) {
}