/* 【共通】 */
/* 画像ギャラリー */
#lightgallery{
	background:none;
	margin:0;
	padding:1vw 0;
	text-align:left;
	width:100%;
}
#lightgallery li{
	background:none;
	display:inline-block;
	margin:0.75vw 0.5vw;
	padding:0;
}
#lightgallery li figure{
	cursor: pointer;
	width:100%;
	position: relative;
	overflow: hidden;
	margin:0;
	padding:0;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
}
#lightgallery li img{
	width:100%;
	height:auto;
	vertical-align: bottom;
}
figcaption {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	opacity: 1;
}
figcaption p.figimg{
	position: absolute;
	padding:0;
	margin: auto 0;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
figcaption p.figimg span{
	background: none;
	padding:0;
	margin:0px 0;
	color:#ffffff;
}
p.desc {
	color: #ccc;
	margin:0;
	padding:0;
}

/* 【PC (ウインドウサイズ)】 */
@media screen and (min-width:1025px) {
	/* 画像ギャラリー */
	#lightgallery li{
		width:18%;
	}
	figcaption p.figimg span{
		font-size: 4vw;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
}

/* 【タブレット (ウインドウサイズ)】 */
@media screen and (min-width:600px) and (max-width:1024px) {
	/* 画像ギャラリー */
	#lightgallery li{
		width:23%;
	}
	figcaption p.figimg span{
		font-size: 6vw;
	}
}

/* 【スマホ (ウインドウサイズ)】 */
@media screen and (max-width:599px) {
	/* 画像ギャラリー */
	#lightgallery li{
		width:31%;
	}
	figcaption p.figimg span{
		font-size: 8vw;
	}
}

/* 【PC (デバイスサイズ)】 */
@media screen and (min-device-width:1025px) {
	figcaption {
		top: 75%;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
	figcaption p.figimg{
		top: 13%;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
	figcaption p.figimg span{
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
	figure:hover figcaption {
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.6);
	}
	figure:hover figcaption p.figimg{
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}
}
@media screen and (min-device-width:1025px) and (min-width:1025px){
	figcaption p.figimg span{
		font-size: 2.5vw;
	}
	figure:hover figcaption p.figimg span{
		font-size: 4vw;
	}
}
@media screen and (min-device-width:1025px) and (min-width:600px) and (max-width:1024px){
	figcaption p.figimg span{
		font-size: 3.5vw;
	}
	figure:hover figcaption p.figimg span{
		font-size: 6vw;
	}
}
@media screen and (min-device-width:1025px) and (max-width:599px){
	figcaption p.figimg span{
		font-size: 5vw;
	}
	figure:hover figcaption p.figimg span{
		font-size: 8vw;
	}
}

/* 【タブレット (デバイスサイズ)】 */
@media screen and (min-device-width:600px) and (max-device-width:1024px) {
}

/* 【スマホ (デバイスサイズ)】 */
@media screen and (max-device-width:599px) {
}
